
{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Form Elements {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<style>
	input{
		width: 90%;
		 padding: 5px 10px;
		 box-sizing: border-box;
		 border: 2px solid lightskyblue;
		 border-radius: 10px;
	 } 
	 select{
		 width: 90%;
		 padding: 5px 10px;
		 box-sizing: border-box;
		 border: 2px solid lightskyblue;
		 border-radius: 10px;
	 } 
</style>
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">    
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                                <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Leave Process Form</h3>
                        </div>
                        <div class="card-body">
                            <span class="mb-0 text-muted">
                                {% for message in messages %}
                                <p ><h2 style="background-color:red; color: white; width: 550px; text-align: center;">
                                 {{message}}</h2></p>
                                  {% endfor %} 
                            </span>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">leave Type</label>
											{{form.leave_type}}
                                            <!-- <input  id="first_name" class="form-control" name="first_name"  placeholder="Enter First Name" required> -->
                                        </div>
                                   
                                        <div class="form-group">
                                            <label for="exampleInputPassword1"> Duration</label>
											{{form.duration}}
                                            <!-- <input id="other_name" class="form-control" name="other_name" placeholder="Enter Other Names" required> -->
                                        </div>
                                       
										<div class="form-group">
                                            <label>Date From</label>
                                            {{form.date_from}}
											<!-- <input id="last_name" class="form-control" name ="last_name" placeholder="Enter First Name" required> -->
                                        </div>
										<div class="form-group">
                                            <label for="exampleInputEmail1">Created By</label>
											{{form.created_by}}
                                            <!-- <input  id="first_name" class="form-control" name="first_name"  placeholder="Enter First Name" required> -->
                                        </div>  
                                        <button type="submit" name="register" class="btn btn-primary btn-block mb-4">Sign up</button>
                                    
                                </div>
                                <div class="col-md-6">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Requested Duration</label>
											{{form.requested_duration}}
                                            <!-- <input id="other_name" class="form-control" name="other_name" placeholder="Enter Other Names" required> -->
                                        </div>

										<div class="form-group">
											<h6>Status</h6>
                                            <!-- <label for="exampleInputPassword1">Status</label> -->
											{{form.status}}
											<!-- <input id="username" class="form-control" name="username" placeholder="Enter Username" required> -->
                                        </div>
    
										<div class="form-group">
                                            <label>Date To</label>
                                            {{form.date_to}}
											<!-- <input id="last_name" class="form-control" name ="last_name" placeholder="Enter First Name" required> -->
                                        </div>
										<div class="form-group">
                                            <label>Date Created</label>
                                            {{form.date_created}}
											<!-- <input id="last_name" class="form-control" name ="last_name" placeholder="Enter First Name" required> -->
                                        </div>
                                </div>
                            </div>
                            </div>
                            <script>
                                // Example starter JavaScript for disabling form submissions if there are invalid fields
                                (function() {
                                    'use strict';
                                    window.addEventListener('load', function() {
                                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                        var forms = document.getElementsByClassName('needs-validation');
                                        // Loop over them and prevent submission
                                        var validation = Array.prototype.filter.call(forms, function(form) {
                                            form.addEventListener('submit', function(event) {
                                                if (form.checkValidity() === false) {
                                                    event.preventDefault();
                                                    event.stopPropagation();
                                                }
                                                form.classList.add('was-validated');
                                            }, false);
                                        });
                                    }, false);
                                })();
                            </script>
                            
                           
                            
                        </div>
                    </div>
                    <!-- Input group -->
                 
                <!-- [ form-element ] end -->
            </div>
            <!-- [ Main Content ] end -->

        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

