
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'index' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Page layouts</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/layout-vertical.html">Vertical</a></li>
					        <li><a href="/layout-horizontal.html">Horizontal</a></li>
					    </ul>
					</li>
					
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext"><b>Forms</b></span></a>
						<ul class="pcoded-submenu">
							<li><a href="{% url 'leave_type' %}">leavetype</a></li>
							<li><a href="{% url 'leave_duration' %}">leaveduration</a></li>
							<li><a href="{% url 'leave_application' id=1 %}">leaveapplication</a></li>
							<li><a href="{% url 'leave_applicationstatus' %}">leaveapplicationstatus</a></li>
							<li><a href="{% url 'Leave_list_by_departments' %}">Leave list </a></li>
							<li><a href="{% url 'leave_resume' %}">leaveresume</a></li>
					
						</ul>registry
					</li>
					
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext"><b>Authentication</b></span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="{% url 'register' %}">Sign up </a></li>
					        <li><a href="{% url 'logout' %}">Sign in </a></li>
					    </ul>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>

					<li class="nav-item pcoded-menu-caption">
						<label>Action zone</label>
					</li>
					<li class="nav-item">
					    <a href="" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>
					<li class="nav-item">
					    <a target="_blank" rel="noopener" href="https://appseed.us/support" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Support</span></a>
					</li>

				</ul>
				
				<div class="card text-center">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="feather icon-sunset f-40"></i>
                        <br />
						<p>Need more?</p>
						<a target="_blank" rel="noopener noreferrer" 
						   href="https://appseed.us/admin-dashboards/django-dashboard-gradient-pro"
                           class="btn btn-primary btn-sm text-white m-0">Gradient PRO</a>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
